
<div class="container-projetos">
  <div class="card-projetos">
    <div class="img-Projetos">
      <img src="../assets/projetos/teste1.jpg" />
    </div>
    <div class="content-projetos">
      <h2>
        App Seriados
      </h2>
      <p>
        Um Site para o Usuario Salvar series
        
      </p>
      <a href="https://appseriado.web.app/"> Read More</a>
    </div>
  </div>
  <div class="card-projetos">
    <div class="img-Projetos" >
      <img src="../assets/projetos/caixa.jpg" />
    </div>
    <div class="content-projetos">
      <h2>
        Caixa de Supermercado 
      </h2>
      <p>
        Um sistema de caixa de Supermercado em Python
      </p>
      <a href="https://github.com/Pedro15F3/CaixaSupermercado"> Read More</a>
    </div>
  </div>
  <div class="card-projetos">
    <div class="img-Projetos">
      <img src="../assets/projetos/cadastro.jpg" />
    </div>
    <div class="content-projetos">
      <h2>
        Cadastro de Produtos
      </h2>
      <p>
        Sistema web de financiamento 
      </p>
      <a href="https://github.com/Pedro15F3/Cadastro_de_Produtos"> Read More</a>
    </div>
  </div>
</div>
