<div class="tudo">

  <div>

  </div>
  <div class="sobreMim">
    <h1>Sobre mim</h1>
  </div>

  <div class="conteudo">
    <div class="card">
      <div class="card-body">
        <img class="imagem" src="./assets/FotoPortifolio.jpeg"  />
      </div>
    </div>

    <div class="texto">
      <div class="containerCorpo" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
        <p>
          Olá, me chamo Pedro Henrique Kolody Leite, um estudante da Faculdade UniGuairacá,
          atualmente estou no 4° periodo. Apaixonado por tecnologia e inovação,
          dedicado à ciência da computação. Minha jornada é pautada pela curiosidade incessante,
          impulsionada pelo desejo de explorar novas fronteiras e criar soluções impactantes no universo digital.
          Estou sempre aberto a discussões, colaborações e novas oportunidades. Sinta-se à vontade para entrar em contato pelos canais abaixo:    
        </p>
      </div>
    </div>
  </div>

</div>
